* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: large;
}

.invert {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.fancy-line {
  margin: 5% 15%;
  display: block;
  border: none;
  color: gray;
  height: 1px;
  background: gray;
  background: -webkit-gradient(radial,
          50% 50%,
          0,
          50% 50%,
          350,
          from(#fff),
          to(#555));
}