
.fancy-line {
    margin: 5% 15%;
    display: block;
    border: none;
    color: gray;
    height: 1px;
    background: gray;
    background: -webkit-gradient(radial,
            50% 50%,
            0,
            50% 50%,
            350,
            from(#fff),
            to(#555));
}